.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 60%;
    /* Could be more or less, depending on screen size */
}

#announcements-modal .modal-content{
    width:60%;
    height: 70%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color:black;
    cursor: pointer;
}

input{
    width: 200px;
    margin-bottom: 15px;
}

input[type=text] {
    background-color: red;
    color: white;
  }