
#irb, .classroom,#bottom, h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
  border-radius: 15px;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: absolute;
  bottom: 15%;
  right: 20%;
  text-align: center;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

img {
  border-radius: 10%;
}

.slideButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.slideButton {
  background-color: white;
  color: black;
}

.slideButton:hover {
  background-color: #e7e7e7;
}


/*  The next arrow button on the slideshow
    Location: Middle Left of Announcements*/

.next {
  position: absolute;
  top: 50%;
  left: 90%;
}

/*  The previous arrow button on the slideshow
        Location: Middle right of Announcements*/

.prev {
  position: absolute;
  top: 50%;
  left: 2%;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 10%;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

}


/*///////////////////////////////////////////////////////////////////////////////////////////*/

/* "Classroom" & "Todays Date" fieldset 
    Location:  top left */

.classroom {
  position: absolute;
  top: 2%;
  box-sizing: border-box;
  float: left;
  width:40%;
  left:0%;
}


#irb{
  display:block;
  margin-top: 10px;
  /* float:right; */
}


/*///////////////////////////////////////////////////////////////////////////////////////////*/