body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset {
  border-radius: 15px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/* "Classroom" & "Todays Date" fieldset 
    Location:  top left */

.classroom {
  position: absolute;
  top: 2%;
  box-sizing: border-box;
  float: left;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*  Today's Office hour. This section also includes the "office hour button" implemenetation
    Location: Near top left, underneath classroom and date display*/

.office {
  position: absolute;
  top: 15%;
  left: 1%;
  box-sizing: border-box;
}

/*The div container for the weekly office hours once clicked.
  Location: Middle of the middle section. Between "office hour" button and "queue" button*/

.content {
  position: absolute;
  left: 25%;
  bottom: 70%;
  width: 37%;
  text-align: center;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 15px;
}

/*List basic properties*/

ul {
  list-style-type: none;
}

/*Weekday section*/

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: rgb(68, 137, 158);
}

.umd-weekdays{
  background-color: red !important;
}

/*The actual "Mo Tu We Th Fr" labels*/

.weekdays li {
  display: inline-block;
  width: 19%;
  color: rgb(255, 255, 255);
  text-align: center;
}

/*Office hour day section*/

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

/*Actual content in the days*/

.days li {
  list-style-type: none;
  display: inline-block;
  width: 19%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*  Status with countdown timer. 
    Location: top right */

#status {
  position: absolute;
  top: 2%;
  right: 1%;
  color: white;
  padding: 15px 15px 15px 15px;
  background-color: white;
  border-radius: 15px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

.queue {
  position: absolute;
  top: 11%;
  right: 1%;
}

.queue #queueUpdate {
  float: left;
  width: 100%;
  text-align: right;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*  Professors Announcements. This includes alot of containers. Similar to Andys Implementation
    Location: Bottom Left*/

.slideshow-container {
  max-width: 1000px;
  position: absolute;
  bottom: 7%;
  right: 59%;
  text-align: center;
}

#slideTitle {
  position: absolute;
  bottom: 64%;
  right: 78%;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

.slideButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.slideButton {
  background-color: white;
  color: black;
}

.slideButton:hover {
  background-color: #e7e7e7;
}

/*  The next arrow button on the slideshow
    Location: Middle Left of Announcements*/

.next {
  position: absolute;
  top: 50%;
  left: 95%;
}

/*  The previous arrow button on the slideshow
        Location: Middle right of Announcements*/

.prev {
  position: absolute;
  top: 50%;
  left: 0%;
}

fieldset {
  border-radius: 15px;
}

.classroom {
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px 10px 10px 10px;
  color: black;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 10%;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*  All Buttons properties. This includes the "office hour" button and "queue" button.
    Location: Middle section*/

#button {
  border-radius: 15px;
  background-color: #008CBA;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.dark-button{
  background-color: #333 !important;
  color: white !important;
}
.dark-button:hover {
  background-color: white !important;
  color: black !important;
}

.umd-button{
  border: 2px solid red !important;
  background-color: white !important;
  color: black !important;
}
.umd-button:hover {
  background-color: red !important;
  color: black !important;
}

.active,
#button:hover {
  background-color: #008CBA;
  color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*The personal touch section. 
  Location: Bottom right*/

.comic {
  position: absolute;
  bottom: 13%;
  right: 5%;
  border-radius: 15%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*Image basic properties*/

img {
  border-radius: 10%;
}
