

fieldset{
    border-radius: 15px;
}
.classroom {
    display: inline-block;
    box-sizing: border-box;
    float: left

}

.office {
    position: absolute;
    top: 10%;
    right: 1%;
    box-sizing: border-box;
}

.Sliders{
    position: relative;
    width: 50%;
}
.Sliders img{
    width: 100%;
    height: auto;
}
.Sliders .left{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 40px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.Sliders .right{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 40px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}